@import "~bootstrap/scss/bootstrap.scss";
.container{
    background: chocolate;
}

.box{
    background: cornsilk;
    width: 500px;
    margin: auto;
    min-height: 400px;
}

.todos-title{
    font-size: 100px;
    text-align: center;
}

.todoBar{
    width: 400px;
    margin: auto;
}
.list{
    margin: auto;
    width: 400px;
    background: greenyellow;
    text-decoration: none;
}